<% if resource.errors.any? %>
  <div class="alert alert-danger d-flex justify-content-between align-items-start">
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close ms-3 mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
